/**
 * Created by Yu Tian Xiong on 2018/05/25.
 * fileName:home 入口less文件
*/
.layoutContent{
  .header{
    padding: 0 24px;
    .toggle{
      margin-left:10px;
      color: #fff;
    }

    .logo{
      font-size:22px;
      color:#fff;
      > .iconLogo{
        width:1em;
        height:1em;
        display:inline-block;
        vertical-align: -4px;
        background: url("../../assets/logo.svg") no-repeat;
        background-size:cover;
        margin-right: 8px;
      }
    }

    .menuHorizontal{
      float:right;
      margin: 8px 0;
      .userInfo{
        .userPic{
          display: inline-block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 8px;
          background-size: cover;
          background-color: #222222;
        }
        :global(.anticon-caret-down) {
          transform: scale(.65);
        }
      }
    }

  }


  .layoutMenu{
    height:100%;
    border-right:0;
  }

  .layoutContentTwo{
    padding: 0 24px 24px;
    .layoutTwoText{
      background: #fff;
      padding: 24px;
      margin: 0;
      min-height: 280px
    }
    .layoutContentTwoFooter{
      text-align:center;
      background: #fff;
    }
  }

}
